/* CSS Document 
		CHANGED:
			img margins
			#home img, width & height
			#speakers  TO  #aboutus
			#aboutus img height & width
*/

* {
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 135%;
	margin: 0 0 .5em 0;
}
#home h2 {
	margin: .5em 0;
}
#speakers h2 {
	margin: 0;
}
h3 {
	font-size: 100%;
	margin-bottom: .5em;
}
h4 {
	font-size: 100%;
}
img {
	margin: .25em .25em .25em .25em
}
#home img {
	width: 198px;
	height: 168px;
}
#aboutus img {
	margin: .5em .5em .75em .25em;
	width: 198px;
	height: 168px;
}
ul {
	list-style-type: none;	
}
p {
	margin-bottom: .5em;
}
